@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --dot-bg: black;
  --dot-color: #08ff84;
  --dot-size: 1px;
  --dot-space: 22px;
  font-family: "Akaya Telivigala", system-ui;

}
.akaya-font{
  font-family: "Akaya Telivigala", system-ui;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  background: radial-gradient(ellipse at bottom, #0d352a 0%, #0c0d13 100%);
  /* --dot-bg: black;
  --dot-color: #08ff84;
  --dot-size: 1px;
  --dot-space: 22px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color); */
  /* background: #fff; */
}


.shape {
  border-radius: 66% 34% 100% 0% / 100% 66% 34% 0%;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  width: 270px;
  height: 270px;
  overflow: hidden;
}

.book-cover h2 {
  text-shadow:
    0 0 3px #85c9ad,
    0 0 10px #00ff84;
}

.page-cover {
  box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}

.glow {
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.glow::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #16a34a; */
  background:
  linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
  linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
  var(--dot-color);
  transition: .5s;
  z-index: 1;
}

.glow:hover::before {
  top: 0;
}

.name {
  overflow: hidden;
  border-right: 2px solid rgb(18, 212, 109);
  white-space: nowrap;
  animation: typing 2s steps(20, end),
    blink-caret .75s step-end forwards;
}
/* .about-section{

    transition: .6s;
    animation: rotate 1s both;
} */
.contact-bg{
  color: #fff;
  background: transparent;
  /* background:
  linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
  linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
  var(--dot-color); */
}

@keyframes typing {
  0% {
    width: 0
  }

  100% {
    width: 100%;
  }
}

@keyframes identifier {
  0% {
    transform: translateX(-10%);
    /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
  }

  100% {
    transform: translateX(0%);
  }

}
